{% extends '_layouts/main-application.html' %}
{% set page = {title:"App Seed | Home"} %}

{% block content %}
<main id="mainBg">
	<div class="container">
		<h1>CURSEWORDS</h1>
		<h2><a href="">Better Luck Next Time</a></h2>
		<a href="https://twitter.com/CurseWordsBand" target="_blank"><i class="ion-social-twitter"></i></a>
		<a href="https://www.facebook.com/DontSayCurseWords" target="_blank"><i class="ion-social-facebook"></i></a>
		<a href="http://instagram.com/curse_words" target="_blank"><i class="ion-social-instagramm"></i></a>
		<a href="http://dontsaycursewords.bandcamp.com/" target="_blank"><i class="ion-play-circled"></i></a>
		<a href="javascript:window.location.href = 'mailto:' + ['dontsaycursewords','gmail.com'].join('@')" target="_blank"><i class="ion-email"></i></a>
		<div class="row">
			<div class="parallax">
				<div class="parallax__layer"></div>
				<div class="parallax__layer"></div>
				<div class="parallax__layer"></div>
			</div>
			<h2>Shows</h2>
			<div id="google_doc_list"></div>
			{% include "_components/tweets.html" %}
		</div>
	</div>
	
</main>
{% endblock %}

{% block javascript %}
{% endblock %}

