$purple: #9198ff;
$light-purple: #FF6BD1;
$orange: #FFCF64;

html{
	font-size: 10px;
}
body{
	background-color: #8a3183;
	font-size: 2rem;
	color:white;
	font-family: "Open Sans", sans;
	color: white;
}
h1,
h2,
h3,
h4,
h5,
h6{
	font-family: "Nova Flat", serif;
	font-weight: normal;
}
a{
	color: $purple;
	transition: all 400ms ease-in;
	&:hover{
		color: white;
		cursor: pointer;
		transition: all 400ms ease-in;
	}
}
main {
  background: url("../images/BlurPurp.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container{
	max-width: 72rem;
    margin: auto;
    padding: 4rem;
}
h1{
	font-size: 10rem;
	color: $light-purple;
	text-align: center;
	&.big-guy{
		margin-bottom: -4.4rem;
		position: relative;
		z-index: 2;
	}
}
.underline{
	color: white;
	position: relative;
	padding: 2rem;
	z-index: 1;
	&:before{
		content: "";
		position: absolute;
		top:0;
		bottom:0;
		right:0;
		left:0;
		height: calc(100% + 2rem);
		width: calc(100% + 2rem);
		background: $purple;	
		
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffcf64+0,f2470e+100 */
background: #ffcf64; /* Old browsers */
background: -moz-linear-gradient(top,  #ffcf64 0%, #f2470e 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ffcf64 0%,#f2470e 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ffcf64 0%,#f2470e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcf64', endColorstr='#f2470e',GradientType=0 ); /* IE6-9 */

		transform: skew(20deg);
		z-index: -1;
	}
	a{
		color: white;
		&:hover{
			text-decoration: none;
		}
	}
}
iframe{
	.timeline-Widget{
		background-color:transparent !important;
	}
}
// Ignore
.parallax{
	position: relative;
	height: 100vh;
	width:100%;
}
.parallax__layer{
	width:60rem;
	height:60rem;
	background: url("../images/Spaceman.png") no-repeat center center;
	left: 50%;
	margin-left: -30rem;
	position:absolute;
	z-index:2;
	top:0;
	margin-top:50vh;
	color: white;
}
.parallax__layer:nth-child(2){
	opacity: 0.4;
	z-index:1;
}
.parallax__layer:nth-child(3){
	opacity: 0.2;
	z-index:0;
}
/*
██████╗ ██╗  ██╗ ██████╗ ███╗   ██╗███████╗
██╔══██╗██║  ██║██╔═══██╗████╗  ██║██╔════╝
██████╔╝███████║██║   ██║██╔██╗ ██║█████╗  
██╔═══╝ ██╔══██║██║   ██║██║╚██╗██║██╔══╝  
██║     ██║  ██║╚██████╔╝██║ ╚████║███████╗
╚═╝     ╚═╝  ╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝
*/

@include break(max, $screen-sm-max) {
	.parallax__layer{
		width:32rem;
		height:32rem;
		left: 0;
		margin: 0;
		background-size: contain;
	}
	h1{
		font-size: 5rem;
	}
}


/*
██████╗ ███████╗███████╗██╗  ██╗████████╗ ██████╗ ██████╗ 
██╔══██╗██╔════╝██╔════╝██║ ██╔╝╚══██╔══╝██╔═══██╗██╔══██╗
██║  ██║█████╗  ███████╗█████╔╝    ██║   ██║   ██║██████╔╝
██║  ██║██╔══╝  ╚════██║██╔═██╗    ██║   ██║   ██║██╔═══╝ 
██████╔╝███████╗███████║██║  ██╗   ██║   ╚██████╔╝██║     
╚═════╝ ╚══════╝╚══════╝╚═╝  ╚═╝   ╚═╝    ╚═════╝ ╚═╝     
														  
*/

@include break(min, $screen-md-min) {
	
}