$purple: #9198ff;
$light-purple: #FF6BD1;
$medium-purple: #8a3183;
$dark-purple: #3c2f63;
$orange: #FFCF64;
$green: #5ecaa4;
$transl-purple: rgba(228, 219, 255, 0.17);

html{
	font-size: 10px;
}
body{
	background-color: $medium-purple;
	font-size: 2rem;
	color:white;
	font-family: "Open Sans", sans;
	color: white;
}
h1,
h2,
h3,
h4,
h5,
h6{
	font-family: "Nova Flat", serif;
	font-weight: normal;
}
a{
	color: $dark-purple;
	transition: all 400ms ease-in;
	&:hover{
		color: $green;
		cursor: pointer;
		transition: all 400ms ease-in;
	}
}
.links{
	text-align: center;
	display: block;
	padding-top:2rem;
	a{
		padding: 1rem;
	}
}
main {
  background: url("../images/BlurPurp.jpg") no-repeat center center fixed;
  background-size: cover;
}
.container{
	max-width: 72rem;
    margin: auto;
}
h1{
	font-size: 10rem;
	color: $green;
	text-align: center;
	text-shadow: 0 0 24px rgba(255,255,255,.6);
	&.big-guy{
		margin-bottom: -4.4rem;
		position: relative;
		z-index: 2;
	}
}
.underline{
	color: white;
	position: relative;
	padding: 2rem;
	z-index: 1;
	text-align: center;
	a{
		text-decoration: none;
		font-size: 5.6rem;
		color:$dark-purple;
		&:hover{
			text-decoration: none;
		}
	}
	span.big-shadow{
		margin-top: 17rem;
		transform: rotateX(180deg) skew(-40deg);
		display: block;
		font-size: 5.6rem;
		margin-left: 4rem;
		margin-bottom: -13rem;
		opacity: .6;
		filter: blur(4px);
	}
	i{
		margin: 0 4rem;
	}
}
iframe{
	.timeline-Widget{
		background-color:transparent !important;
	}
}
// Ignore
.parallax{
	position: relative;
	height: 200vh;
	width:100%;
}
.parallax__layer{
	width:60rem;
	height:60rem;
	background: url("../images/Spaceman.png") no-repeat center center;
	left: 50%;
	margin-left: -30rem;
	position:absolute;
	z-index:2;
	top:0;
	margin-top:50vh;
	color: white;
}
.parallax__layer:nth-child(2){
	opacity: 0.4;
	z-index:1;
}
.parallax__layer:nth-child(3){
	opacity: 0.2;
	z-index:0;
}


footer{
	position: absolute;
	bottom: -230vh;
	width: 100%;
	text-align: center;
}
/*
██████╗ ██╗  ██╗ ██████╗ ███╗   ██╗███████╗
██╔══██╗██║  ██║██╔═══██╗████╗  ██║██╔════╝
██████╔╝███████║██║   ██║██╔██╗ ██║█████╗  
██╔═══╝ ██╔══██║██║   ██║██║╚██╗██║██╔══╝  
██║     ██║  ██║╚██████╔╝██║ ╚████║███████╗
╚═╝     ╚═╝  ╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝
*/

@include break(max, $screen-sm-max) {
	.parallax__layer{
		width: 32rem;
		height: 32rem;
		left: 50%;
		margin-left: -16rem;
		background-size: contain;
	}
	.links a{
		font-size: 4rem;
	}
	h1{
		font-size: 12.2vw;
		&.big-shadow{
			display: none;
		}
	}
	.underline a{
		font-size: 8vw;
	}
	.list{
		padding: 1rem 3rem;
		background: $transl-purple;
		border-top: 1px solid rgba(221, 221, 221, 0.57);
		&:last-child{
			border-top: 1px solid rgba(221, 221, 221, 0.57);
		}
	}
	h2{
		text-align: center;
	}
}


/*
██████╗ ███████╗███████╗██╗  ██╗████████╗ ██████╗ ██████╗ 
██╔══██╗██╔════╝██╔════╝██║ ██╔╝╚══██╔══╝██╔═══██╗██╔══██╗
██║  ██║█████╗  ███████╗█████╔╝    ██║   ██║   ██║██████╔╝
██║  ██║██╔══╝  ╚════██║██╔═██╗    ██║   ██║   ██║██╔═══╝ 
██████╔╝███████╗███████║██║  ██╗   ██║   ╚██████╔╝██║     
╚═════╝ ╚══════╝╚══════╝╚═╝  ╚═╝   ╚═╝    ╚═════╝ ╚═╝     
														  
*/

@include break(min, $screen-md-min) {
	.links a{
		font-size: 3rem;
	}	
}